.social-feed-element{
    text-align:left;
    line-height: 16px;
    padding:5px;
    margin:-1px;
    border-bottom:1px solid #eee;
    border-top:1px solid #eee;
}
.social-feed-element .media-object{
    width:48px;
    border-radius:5px;
}
.social-feed-element .media-body img{
    width: 16px;
    margin-top: -3px;
    margin-right:5px;
}
.social-feed-element .media-body p{
    margin-bottom:4px;
    height:20px;
}
.social-feed-element .social-network-icon{
    opacity:0.7;
}
.social-feed-element:hover{
    background-color:#f5f5f8;
}
.social-feed-element:hover .read-button{
    display:inline-block;
}
.social-feed-element .read-button{
    opacity:0.9;
    margin-left:5px;
    display:none;


}